/* shared style  */
*{
    margin: 0;
    padding: 0;
}
.bgb{
    background: black;
    
}
.bgb-2{
    background: rgb(34, 34, 34);
}
.display{
    display: flex;
    flex-direction: row;
}
.grid{
    display: grid;
}
.primarybtn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 8px 30px;
}
.secondarybtn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 42px;
    background: none;
    border: 1px solid white;
    padding: 8px 30px;
}
/* Header */
.nav-section , .head-2 , #section-1,.BMI-container{
    max-width: 80%;
    margin: 0 auto;
}
header{
    background: rgb(34, 34, 34);
    padding-top: 30px;

}
.navbar{
    justify-content: space-around;
    align-items: center;
    gap: 400px;
   
}
.menuebar{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    
}
.menuebar li{
    list-style: none;
   
}
.menuebar li a{
    text-decoration: none;   
}
.logo{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0%;
    text-align: left;
    
}
 .list-item{
    gap: 30px;
    align-items: center;
    
} 
.list-item li a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left; 
    padding: 5px 20px; 
}
 .list-item li:first-child {
     background-color: rgb(230, 83, 60);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 5px 5px; 
}

.head-2{
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    gap: 150px;
   
}
.head-text{
    margin-top: 15px;
    margin-left: 50px;
}
.head-pic{
    position: relative;
}
.head-pic img{
    width: 349px;
    height: 550px;
    margin-top: 10px;
    margin-bottom: -5px;

}
.header-1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 50px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 18px;
}
.shape{
    color: rgb(255, 255, 255);
    font-family: Miama;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 0%;
    text-align: left;  
    line-height: 20%;
}
.head-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 30px;
}
.button{
    gap: 10px;
}
.blur{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 20px;
    width: 150px;
    height: 70px;
    position: absolute;
    bottom: 332px;
    left: 234px
}
.blur h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}
.blur p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}
.blur-2{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 5px 20px;
    width: 150px;
    height: 70px;
    position: absolute;
    bottom: 60px;
    right: 255px;
    align-items: center;
    gap: 10px;
}
.blur-2 h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}
.blur-2 p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}
.circle{
    background-color: tomato;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.triangle{
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white;
}


.sec1-text h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 50px;
    

}
.sec1-text p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.sec1-img {
    justify-content: center;
    margin-top: 50px;
    gap: 80px;
}
.card img{
    border-radius: 50%;
}
.card h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 25px;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 10px;
}
.section-2{
    justify-content: center;
    margin-top: 80px;
    gap: 290px;
    background: rgb(34, 34, 34);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 15px;
}

.sec2-text h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;

}
.sec2-text p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 30px;
}
.sec2-img img{
    width: 300px;
    height: 250px;
    border-radius: 8px;
}
.primarybtn-2{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;  
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    padding: 8px 50px;
    text-align: left;
   
}

.BMI-container{
    justify-content: space-between; 
}
.bmi-table table,th,td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: left;
    padding: 10px 30px;
    border-collapse: collapse;
    margin-top: 60px ;
} 
.bmi-table th{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.bmi-table td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.bmi-table h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 70px ;
}
.bmi-form{

    width: 577px;
}
.bmi-form h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 70px ;
}
.bmi-form p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 10px 0 10px 3px;
}
form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
label{
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px
}
select{
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px;
}
.last{
   grid-column: span 2;
   display: grid;
   grid-template-columns: 100%;
}
.calculate{
    margin: 20px 0 30px 0;
}
.team-pic img{
    width: 250px;
    height: 250px;
    border-radius: 18px;

    background: rgba(0, 0, 0, 0.2),url(image);
    
    
}
.Team h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 80px;
    margin-bottom: 15px;
}
.teamp{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.Team-info{
    max-width: 60%;
    margin: 50px auto;
    grid-template-columns: auto auto auto;
    justify-content: center;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
   
   
}
.team-pic{
    position: relative;
    
}
.team-pic h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    position: absolute;
    bottom: 40px;
    left: 10px;
}
.team-pic p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: left;
    position: absolute;
    bottom: 20px;
    left: 10px;
}
footer{
    /* background-color: rgba(15, 3, 3, 0); */
    padding-top: 50px;
    position: relative;
   padding-bottom: 50px;
   /* margin-top: 20px; */
}
#footer h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
#footer p{ 
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
#footer h2{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
#footer li{
list-style: none;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 23px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
#hr{
    /* color: aliceblue; */
    /* margin: 20px 20px; */
    background-color:rgba(128, 128, 128, 0.553);
    width: 80%;
    height: 1px;
    /* top: 394px; */
    margin:20px auto;
    /* left: 189px; */
    /* margin: 100px auto; */
    bottom: 34px;
    display: flex;
   justify-content:flex-end;
    /* display: block; */
}
 @media only screen and (max-width: 576px){
    #bmi-table-form-container{
    flex-direction: column;
    box-sizing: content-box;
   }
 }
